.nnThreeInOneComponent {
  width: 100%;

  .heatmap_card {
    position: absolute;

    &.fadeEnter {
      opacity: 0.01;
    }

    &.fadeEnter {
      opacity: 1;
    }

    &.fadeEnter {
      opacity: 1;
    }

    &.fadeEnter {
      opacity: 0.01;
    }
    
    .heatmap_label {
      margin: 5px 5px 5px 5px;
      font-family: 'Arial';
      font-size: 24px;
    }
    .heatmap_subLabel {
      margin: 5px 5px 5px 5px;
      font-family: 'Arial';
      font-size: 18px;
    }
  }

  .bar_card {
    position: absolute;
    float: left;
    margin: 0px;
  }

}