.NNThreeInOne {

  .card {
    position: absolute;
    transition-property: top, left, width, height, opacity;
    transition-duration: 500ms;

    &.fade-enter {
      opacity: 0.01;
    }

    &.fade-enter-active {
      opacity: 1;
    }

    &.fade-exit {
      opacity: 1;
    }

    &.fade-exit-active {
      opacity: 0.01;
    }
    
  }

}